@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    min-width: 300px;
    position: relative;
    z-index: 10;
}

.header_banner {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #be201f;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
    height: 885px;
}

.main_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    z-index: 50;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    top: 45px;
    width: 100%;
}

.category {
    font-size: 24px;
    font-weight: 600;
    color: #be201f;
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 60px 0 0 60px;
}

.logo {
    width: 162px;
    height: 44px;
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.my_page {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    gap: 30px;
    margin-right: 60px;
}

.main {
   position: relative;
   height: 885px;
}

.main_text {
    position: absolute;
    top: 30%;
    left: 80px;
    color: #fff;
}

.main_text h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: nowrap;
}
.main_text h3 {
    font-size: 20px;
    padding-top: 20px;
    font-weight: 500;
}

.product_container {
  display: flex;
  margin-top: 60px; 
  width: 1870px;
  height: 827px; 
  margin: 60px 30px 0 60px;
  gap: 43px;
}

.product {
    width: 590px;
    height: 827px;
        
}
.product_pic {
    width: 590px;
    height: 721px;
    overflow: content-box;
}

.product_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product h2 {
    font-size: 18px;
    color: #be201f;
    word-spacing: 1px;
    margin-top: 10px;
}

.product h3 {
    font-size: 18px;
    color: #be201f;
    word-spacing: 1px;
    margin-top: 10px;
}

.del {
    opacity: 0.5;
    text-decoration: line-through;
}

.price_off {
    width: 87px;
    height: 36px;
    border: solid #be201f 1px;
    border-radius: 35px;
    background: #fff;
    padding: 9px 16px;
    color: #be201f;
    font-size: 14px;
    margin-top: 15px;
}

.flowing_text {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-top: 150px;
    background: #fff;
}

.text_wrap {
    display: inline-block;
    animation: flowing_text 45s linear infinite;
}
.flowing_text h1 {
    display: inline-block;
    font-size: 170px;
    color: #be201f;
    animation: flowing_text 280s linear infinite;
}

@keyframes flowing_text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.diet_container {
    width: 100%;
    height: 1139px;
    padding: 0 80px;
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
}

.diet_box {
    width: 549px;
    height: 549px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 10px 0;
}

.diet_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diet_txbox {
    width: 569px;
    height: 549px;
    padding: 60px 40px;
}
.diet_box h2 {
    font-size: 45px;
    color: #be201f;
    margin: 45px 0 23px 0;
}

.diet_box p {
    font-size: 18px;
    font-weight: 400;
    color: #be201f;
    line-height: 1.5;
}

.diet_box button {
    margin-top: 280px;
    width: 157px;
    height: 46px;
    border-radius: 45px;
    border: 1px solid #be201f;
    background-color: #fff;
    color: #be201f;
    font-size: 18px;
    font-weight: 400;
}